version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env.docker
    depends_on:
      - db

  db:
    image: postgres:16
    env_file:
      - ./backend/.env.docker
    ports:
      - "5432:5432"
