<div>
  <h2>User Profile Edit</h2>
  <div class="current-profile">
    <h3>Current Profile:</h3>
    <p><strong>Name:</strong> {{ currentProfile.firstName }} {{ currentProfile.lastName }}</p>
    <p><strong>Email:</strong> {{ currentProfile.email }}</p>
  </div>

  <h3>Edit Profile</h3>
  <app-user-form 
    [initialData]="currentProfile"
    (formSubmitted)="onUserFormSubmitted($event)">
  </app-user-form>

  <div *ngIf="editMessage">
    <h4>{{ editMessage }}</h4>
  </div>

  <div *ngIf="updateHistory.length > 0">
    <h3>Update History:</h3>
    <ul>
      <li *ngFor="let update of updateHistory">
        Updated at {{ update.updatedAt }} - 
        Changed from {{ update.previousProfile.firstName }} {{ update.previousProfile.lastName }} 
        to {{ update.newProfile.firstName }} {{ update.newProfile.lastName }}
      </li>
    </ul>
  </div>
</div>
