:root {
	color-scheme: dark;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #060b15;
	color: #e9f0f7;
}
/* You can add global styles to this file, and also import other style files */
